{% extends 'D_layout.html' %}

{% block title %} Dashboard {% endblock %}
{% block Hactive %} active {% endblock %}

{% block bodydata %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">DjangoDashboard</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aut, similique recusandae tempore quis architecto? Sequi eligendi eum distinctio, ut quibusdam porro culpa aspernatur placeat doloremque ipsam recusandae iusto debitis?</p>
    </div>
</div> 
{% endblock %}